@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
:root {
  --sz-large: 18rem;
  --sz-medium: 12.4rem;
  --sz-small: 9rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  height: 100vh;
  width: 100vw;
  background-color: #141539;
  background-image: radial-gradient(circle at top, #1f3756, #141539);
  background-repeat: no-repeat;
  background-size: cover;
  display: flow-root;
  overflow-x: hidden;
}

header {
  background: transparent;
  margin: 3rem auto 0rem auto;
  padding: 1rem 1.5rem;
  width: 44rem;
  max-width: 80%;
  border: 3px solid #606e85;
  border-radius: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.logo {
  width: 10rem;
  height: 7rem;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.logo.bonus-game {
  -webkit-animation: scaleIn 0.2s ease;
          animation: scaleIn 0.2s ease;
  background-image: url(./images/logo-bonus.svg);
}

.score-card {
  cursor: pointer;
  background: #f2f2f2;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  text-align: center;
}

.score-card p {
  color: #2a46c0;
  letter-spacing: 2px;
}

.score-card #score {
  line-height: 4rem;
  font-size: 4rem;
  color: #3b4363;
}

.score-card.updated {
  -webkit-animation: itemScale 0.7s ease;
          animation: itemScale 0.7s ease;
}

main {
  max-width: 100vw;
  width: 50rem;
  max-height: 70vh;
  height: 50vh;
  position: relative;
  margin: 5.5rem auto 0 auto;
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: containerFadeIn 2s ease;
          animation: containerFadeIn 2s ease;
}

.container.hidden {
  -webkit-animation: containerFadeOut 1s ease;
          animation: containerFadeOut 1s ease;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.original {
  background-color: transparent;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 6rem;
}

.original .scissors {
  margin-top: -1rem;
  margin-left: auto;
}

.original .paper {
  margin-top: -1rem;
  margin-right: auto;
}

.original .rock {
  margin: 3rem 4rem 0 4rem;
}

.bonus {
  background-color: transparent;
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 8rem 7rem 7.5rem 7rem 8rem;
      grid-template-columns: 8rem 7rem 7.5rem 7rem 8rem;
  row-gap: 2rem;
      grid-template-areas: '. . scissors . .' 'spock . . . paper' '. lizard . rock .';
  padding: 0 6rem;
}

.bonus .scissors {
  margin-top: 1rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: scissors;
}

.bonus .paper {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: paper;
}

.bonus .rock {
  margin-top: 3rem;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: rock;
}

.bonus .lizard {
  margin-top: 3rem;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: lizard;
}

.bonus .spock {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: spock;
}

.final {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--sz-large) auto var(--sz-large);
      grid-template-columns: var(--sz-large) auto var(--sz-large);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
}

.final .pl-left {
  margin: 3rem 0 0rem 3rem;
  -ms-grid-column: 1;
  grid-column: 1;
}

.final .pl-right {
  margin: 3rem 0 0rem 3rem;
  -ms-grid-column: 3;
  grid-column: 3;
}

.final .item-choice::after {
  color: #fff;
  color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 4px;
  width: 100%;
  height: 1.4rem;
  position: absolute;
  top: -3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.final .item-player {
  -ms-grid-column: 1;
  grid-column: 1;
}

.final .item-player::after {
  content: 'You picked';
}

.final .item-comp {
  -ms-grid-column: 3;
  grid-column: 3;
}

.final .item-comp::after {
  content: 'The house picked';
}

.final.step-1 .item-comp {
  -webkit-animation: itemScale 1s ease-in-out;
          animation: itemScale 1s ease-in-out;
}

.final.step-1 .placeholder {
  -webkit-animation: itemScale 0.7s 3;
          animation: itemScale 0.7s 3;
}

.final.step-2 {
  -webkit-transition: width 0.7s ease;
  transition: width 0.7s ease;
  width: 55rem;
}

.final.step-2 .outcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.7s ease-in;
          animation: fadeIn 0.7s ease-in;
}

.final .placeholder {
  position: absolute;
  width: var(--sz-medium);
  height: var(--sz-medium);
  border-radius: 50%;
  background: #141539;
  z-index: -1;
}

.final .placeholder.fade {
  -webkit-animation: itemFade 2s;
          animation: itemFade 2s;
}

.final .outcome {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.final .outcome span {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
}

.final .outcome button {
  margin-top: 1rem;
  padding: 0.8rem 3.6rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background: #f2f2f2;
  color: #3b4363;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.final .outcome button:hover {
  color: #dd405d;
  -webkit-animation: itemScale 1s;
          animation: itemScale 1s;
}

.item-original {
  width: var(--sz-medium);
  height: var(--sz-medium);
  cursor: pointer;
  -webkit-animation: itemRotate 5s infinite;
          animation: itemRotate 5s infinite;
}

.item-original:hover {
  -webkit-animation: itemRotate paused, itemScale 2s infinite;
          animation: itemRotate paused, itemScale 2s infinite;
}

.item-original.clicked {
  -webkit-animation: itemFade 1s ease;
          animation: itemFade 1s ease;
}

.item-bonus {
  width: var(--sz-small);
  height: var(--sz-small);
  cursor: pointer;
  position: relative;
  -webkit-animation: itemRotate 5s infinite;
          animation: itemRotate 5s infinite;
}

.item-bonus:hover {
  -webkit-animation: itemRotate paused, itemScale 2s infinite;
          animation: itemRotate paused, itemScale 2s infinite;
}

.item-bonus.clicked {
  -webkit-animation: itemFade 1s ease;
          animation: itemFade 1s ease;
}

.item-choice {
  width: var(--sz-large);
  height: var(--sz-large);
  position: relative;
}

.item {
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 5;
}

.item::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(-1px);
          transform: translateX(-50%) translateZ(-1px);
  bottom: -0.4rem;
  z-index: 0;
}

.item .item-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 78%;
  height: 78%;
  border-radius: 50%;
  background: #babfd4;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 3;
}

.item .item-inner::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(-1px);
          transform: translateX(-50%) translateZ(-1px);
  background: radial-gradient(#f2f2f2, #dadcdb);
  z-index: -1;
}

.paper {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.paper::before {
  background: #0a24a9;
}

.paper .item-inner::before {
  background: url(./images/icon-paper.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.scissors {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.scissors::before {
  background: #8c5e08;
}

.scissors .item-inner::before {
  background: url(./images/icon-scissors.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.rock {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.rock::before {
  background: #8c182d;
}

.rock .item-inner::before {
  background: url(./images/icon-rock.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.lizard {
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(#834fe3, #8c5de5);
}

.lizard::before {
  background: #6021d4;
}

.lizard .item-inner::before {
  background: url(./images/icon-lizard.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.spock {
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(#40b9ce, #52bed1);
}

.spock::before {
  background: #2d9bae;
}

.spock .item-inner::before {
  background: url(./images/icon-spock.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.btn {
  position: fixed;
  background-color: transparent;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 0.5rem;
  padding: 0.6rem 2.3rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-rules {
  left: 80%;
  bottom: 16%;
}

.btn-five,
.btn-three {
  left: 80%;
  bottom: 10%;
  -webkit-animation: btnFadeIn 1s ease-in-out both;
          animation: btnFadeIn 1s ease-in-out both;
}

.btn-five.hidden,
.btn-three.hidden {
  -webkit-animation: btnFadeOut 0.5s linear;
          animation: btnFadeOut 0.5s linear;
  pointer-events: none;
  opacity: 0;
}

.overlay {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.overlay .overlay-inner {
  max-width: 55rem;
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 5rem auto;
      grid-template-columns: auto 5rem auto;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12rem auto;
}

.overlay #circle-left {
  -ms-grid-column: 1;
  grid-column: 1;
}

.overlay #circle-right {
  -ms-grid-column: 3;
  grid-column: 3;
}

.overlay img {
  visibility: hidden;
}

.overlay img.open {
  visibility: visible;
  -webkit-animation: pulse 2s 3;
          animation: pulse 2s 3;
}

.rules-container {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.rules-container .rules-inner {
  background: #f2f2f2;
  padding: 2rem 3rem;
  border-radius: 0.4rem;
  position: relative;
}

.rules-container .rules-inner h3 {
  text-transform: uppercase;
  color: #3b4363;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.rules-container .rules-inner p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #606e85;
  text-transform: uppercase;
  margin-top: 2rem;
}

.rules-container .rules-inner #close-modal {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  border: none;
  cursor: pointer;
}

.rules-container .rules-inner #close-modal:active, .rules-container .rules-inner #close-modal:focus {
  outline: none;
}

.rules-container .rules-inner #close-modal:hover img {
  -webkit-filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9);
          filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9);
}

.rules-container.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rules-container.open .rules-inner {
  -webkit-animation: modal 0.7s ease-out forwards;
          animation: modal 0.7s ease-out forwards;
}

@media (max-width: 950px) {
  :root {
    --sz-large:14rem;
    --sz-medium: 9rem;
    --sz-small: 8rem;
  }
  main {
    width: 40rem;
    margin: 4rem auto 0 auto;
  }
  .original {
    padding: 0 4rem;
  }
  .bonus {
    -ms-grid-columns: 8rem 4rem 8rem 4rem 8rem;
        grid-template-columns: 8rem 4rem 8rem 4rem 8rem;
    row-gap: 0.5rem;
    padding: 0 3rem;
    background-size: 60%;
  }
  .final .item-choice::after {
    font-size: 1rem;
  }
  .final.step-2 {
    width: 45rem;
  }
  .final .pl-left,
  .final .pl-right {
    margin: 2.5rem 0 0rem 2.5rem;
  }
  .overlay .overlay-inner {
    -ms-grid-columns: auto 1rem auto;
        grid-template-columns: auto 1rem auto;
    margin: 8rem auto;
  }
}

@media (max-width: 770px) {
  :root {
    --sz-large:12rem;
    --sz-medium: 9rem;
    --sz-small: 8rem;
  }
  header {
    padding: 0.6rem 0.8rem 0.6rem 1rem;
    margin: 2rem auto 0 auto;
    max-width: 85%;
    width: 85%;
    border-radius: 0.5rem;
  }
  .logo {
    height: 4rem;
  }
  .score-card {
    border-radius: 0.2rem;
    padding: 0.5rem 1.2rem;
  }
  .score-card p {
    font-size: 0.7rem;
  }
  .score-card #score {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .btn-rules,
  .btn-three,
  .btn-five {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .final {
    padding-top: 4rem;
  }
  .final .pl-right,
  .final .pl-left {
    margin: 5.5rem 0 0rem 1.5rem;
  }
  .final.step-2 {
    width: 100%;
  }
  .final .outcome {
    top: 90%;
  }
  .overlay .overlay-inner {
    -ms-grid-columns: max-content 0 max-content;
        grid-template-columns: -webkit-max-content 0 -webkit-max-content;
        grid-template-columns: max-content 0 max-content;
    margin: 6rem auto;
  }
  .overlay .overlay-inner #circle-left {
    margin-right: -2rem;
  }
  .overlay .overlay-inner #circle-right {
    margin-left: -2rem;
  }
}

@media (max-width: 650px) {
  :root {
    --sz-large:9rem;
    --sz-medium: 8rem;
    --sz-small: 7rem;
  }
  main {
    width: 90%;
    height: 40vh;
  }
  .container {
    height: 100%;
    width: 100%;
  }
  .original {
    background-size: 60%;
  }
  .bonus {
    background-size: contain;
    padding: 0 1rem;
    -ms-grid-columns: 7rem 4rem auto 4rem 7rem;
        grid-template-columns: 7rem 4rem auto 4rem 7rem;
  }
  .bonus .scissors {
    margin-top: -1rem;
  }
  .final {
    padding: 0 3rem;
  }
  .final .item-choice::after {
    width: 130%;
    font-size: 0.9rem;
  }
  .final .pl-left,
  .final .pl-right {
    margin: 0.5rem 0 0rem 0.5rem;
  }
  .final .outcome span {
    font-size: 3rem;
  }
  .final .outcome button {
    border-radius: 0.25rem;
    padding: 0.7rem 3rem;
    font-size: 0.9rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .btn {
    border-radius: 0.25rem;
  }
  .btn-rules {
    bottom: 17%;
  }
  .overlay .overlay-inner {
    margin: 4rem auto;
    width: 90%;
  }
  .overlay .overlay-inner #circle-left {
    width: 400px;
    height: 400px;
    margin-right: -3rem;
  }
  .overlay .overlay-inner #circle-right {
    width: 400px;
    height: 400px;
    margin-left: -3rem;
  }
}

@media (max-width: 550px) {
  :root {
    --sz-large:8rem;
    --sz-medium: 7rem;
    --sz-small: 5.5rem;
  }
  .rules-container {
    background: #f2f2f2;
    text-align: center;
  }
  .rules-container .rules-inner {
    width: 100%;
  }
  .rules-container .rules-inner img {
    max-width: 100%;
  }
  .rules-container .rules-inner #close-modal {
    top: 100%;
    right: 50%;
  }
  main {
    height: 30vh;
  }
  .original {
    background-size: contain;
    padding: 0 2rem;
  }
  .original .paper {
    margin: -1rem auto 0 0;
  }
  .original .scissors {
    margin: -1rem 0 0 auto;
  }
  .original .rock {
    margin-top: 3rem;
  }
  .bonus {
    -ms-grid-columns: auto 0.8rem auto 0.8rem auto;
        grid-template-columns: auto 0.8rem auto 0.8rem auto;
    row-gap: 0.5rem;
  }
  .bonus .scissors {
    margin-top: 0rem;
  }
  .bonus .lizard {
    margin-top: 2rem;
  }
  .bonus .rock {
    margin-top: 2rem;
  }
  .final {
    padding: 0;
  }
  .final .item-choice::after {
    font-size: 0.6rem;
  }
  .overlay .overlay-inner {
    width: 90%;
  }
}

@media (max-width: 380px) {
  .original {
    padding: 0 1rem;
  }
  .bonus {
    padding: 0;
    -ms-grid-columns: auto 0.5rem 8rem 0.5rem auto;
        grid-template-columns: auto 0.5rem 8rem 0.5rem auto;
  }
  .overlay .overlay-inner {
    width: 90%;
    margin: 7rem auto;
  }
  .overlay .overlay-inner #circle-left {
    width: 300px;
    height: 300px;
    margin-right: -3.5rem;
  }
  .overlay .overlay-inner #circle-right {
    width: 300px;
    height: 300px;
    margin-left: -3.5rem;
  }
}

@-webkit-keyframes btnFadeOut {
  0% {
    bottom: 10%;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes btnFadeOut {
  0% {
    bottom: 10%;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}

@-webkit-keyframes btnFadeIn {
  0% {
    bottom: 0;
    opacity: 0;
  }
  80% {
    bottom: 11%;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    opacity: 1;
  }
}

@keyframes btnFadeIn {
  0% {
    bottom: 0;
    opacity: 0;
  }
  80% {
    bottom: 11%;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes containerFadeOut {
  0% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: -5rem;
    opacity: 0;
  }
}

@keyframes containerFadeOut {
  0% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: -5rem;
    opacity: 0;
  }
}

@-webkit-keyframes itemRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes itemRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes itemScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes itemFade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes itemFade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes containerFadeIn {
  0% {
    left: -10rem;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes containerFadeIn {
  0% {
    left: -10rem;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  60% {
    opacity: 0.8;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  60% {
    opacity: 0.8;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
