@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
$scissorsGradient: linear-gradient(hsl(39, 89%, 49%),hsl(40, 84%, 53%));
$paperGradient: linear-gradient(hsl(230, 89%, 62%),hsl(230, 89%, 65%));
$rockGradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizardGradient: linear-gradient(hsl(261, 73%, 60%),hsl(261, 72%, 63%));
$spockGradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$innerCircle: radial-gradient(hsl(150,0%,95%),hsl(150,3%,86%));
$bg: radial-gradient(circle at top,hsl(214, 47%, 23%),hsl(237, 49%, 15%));

$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);
$shadow-inner: hsl(228, 23%, 78%);
$white : hsl(0, 0%, 95%);
:root {
    --sz-large: 18rem;
    --sz-medium: 12.4rem;
    --sz-small: 9rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    height: 100vh;
    width: 100vw;
    background-color: hsl(237, 49%, 15%);
    background-image: $bg;
    background-repeat: no-repeat;
    background-size: cover;
    display: flow-root;
    overflow-x: hidden;
}

header {
    background: transparent;
    margin: 3rem auto 0rem auto;
    padding: 1rem 1.5rem;
    width: 44rem;
    max-width: 80%;
    border: 3px solid $headerOutline;
    border-radius: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}
.logo {
    width: 10rem;
    height: 7rem;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    &.bonus-game {
        animation: scaleIn 0.2s ease;
        background-image: url(./images/logo-bonus.svg);
    }
}
.score-card {
    cursor: pointer;
    background: $white;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    text-align: center;
    p {
        color: $scoreText;
        letter-spacing: 2px;
    }
    #score {
        line-height: 4rem;
        font-size: 4rem;
        color: $darkText;
    }
    &.updated {
        animation: itemScale 0.7s ease;
    }
}

main {
    max-width: 100vw;
    width: 50rem;
    max-height: 70vh;
    height: 50vh;
    position: relative;
    margin: 5.5rem auto 0 auto;
}
.container {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    transform: translateX(-50%);
    animation: containerFadeIn 2s ease;
    &.hidden {
        animation: containerFadeOut 1s ease;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
    }
}
.original {
    background-color: transparent;
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 6rem;

    .scissors {
        margin-top: -1rem;
        margin-left: auto;
    }
    .paper {
        margin-top: -1rem;
        margin-right:  auto;
    }
    .rock {
        margin: 3rem 4rem 0 4rem;
    }
}
.bonus {
    background-color: transparent;
    background-image: url(./images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 8rem 7rem 7.5rem 7rem 8rem;
    row-gap: 2rem;
    grid-template-areas:
    '. . scissors . .'
    'spock . . . paper'
    '. lizard . rock .';
    padding: 0 6rem;
    .scissors {
        margin-top: 1rem;
        grid-area: scissors;
    }
    .paper {
        grid-area: paper;
    }
    .rock {
        margin-top: 3rem;
        grid-area: rock;
    }
    .lizard {
        margin-top: 3rem;
        grid-area: lizard;
    }
    .spock {
        grid-area: spock;
    }
}

.final {
    display: grid;
    grid-template-columns: var(--sz-large) auto var(--sz-large);
    grid-template-rows: max-content;

        .pl-left {
            margin: 3rem 0 0rem 3rem;
            grid-column: 1;
        }
        .pl-right {
            margin: 3rem 0 0rem 3rem;
            grid-column: 3;
        }
        .item-player {
            grid-column: 1;
        }
        .item-comp {
            grid-column: 3;
        }
    &.step-1 {
        .item-comp {
            animation: itemScale 1s ease-in-out;
        }
        .placeholder{
            animation: itemScale 0.7s 3;
        }
    }
    &.step-2 {
        transition: width 0.7s ease;
        width: 55rem;

        .outcome {
            display: flex;
            animation: fadeIn 0.7s ease-in;
        }
    }
    .placeholder {
        position: absolute;
        width: var(--sz-medium);
        height: var(--sz-medium);
        border-radius: 50%;
        background: hsl(237, 49%, 15%);
        z-index: -1;

        &.fade {
            animation: itemFade 2s;
        }
    }
    .outcome {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        span {
            font-size: 3.5rem;
            color: #fff;
            text-transform: uppercase;
        }
        button {
            margin-top: 1rem;
            padding: 0.8rem 3.6rem;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 2.5px;
            border-radius: 0.5rem;
            border: none;
            font-family: inherit;
            text-transform: uppercase;
            cursor: pointer;
            background: $white;
            color: $darkText;
            transition: color 0.4s ease;
    
            &:hover {
                color: hsl(349, 70%, 56%);
                animation: itemScale 1s ;
            }
        }
    }
}
.item-original {
    width: var(--sz-medium);
    height: var(--sz-medium);
    cursor: pointer;
    animation: itemRotate 5s infinite;
    &:hover {
        animation: itemRotate paused, itemScale 2s infinite;
    }
    &.clicked {
        animation: itemFade 1s ease;
    }
}
.item-bonus {
    width: var(--sz-small);
    height: var(--sz-small);
    cursor: pointer;
    position: relative;
    animation: itemRotate 5s infinite;
    &:hover {
        animation: itemRotate paused, itemScale 2s infinite;
    }
    &.clicked {
        animation: itemFade 1s ease;
    }
}
.item-choice {
    width: var(--sz-large);
    height: var(--sz-large);
}
.item {
    border-radius: 50%;
    transform-style: preserve-3d;
    z-index: 5;
    &::before {
        content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateZ(-1px);
            bottom: -0.4rem;
            z-index: 0;
    }
    .item-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 78%;
        height: 78%;
        border-radius: 50%;
        background: $shadow-inner;
        overflow: hidden;
        transform-style: preserve-3d;
        z-index: 3;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            bottom: -0.4rem;
            left: 50%;
            transform: translateX(-50%) translateZ(-1px);
            background:$innerCircle; 
            z-index: -1;
    
        }
    }
}

.paper {
    background: $paperGradient;
    &::before {
        background: hsl(230, 89%, 35%);
    }
    .item-inner::before {
        background: url(./images/icon-paper.svg) no-repeat center 40%, $innerCircle;
        background-size: 45%;
    }
}
.scissors {
    background: $scissorsGradient;
    &::before {
        background: hsl(39, 89%, 29%);
    }
    .item-inner::before {
        background: url(./images/icon-scissors.svg) no-repeat center 40%, $innerCircle;
        background-size: 45%;
    }
}
.rock {
    background: $rockGradient;
    &::before {
        background: hsl(349, 71%, 32%);
    }
    .item-inner::before {
        background: url(./images/icon-rock.svg) no-repeat center 40%, $innerCircle;
        background-size: 45%;
    }
}
.lizard {
    background: $lizardGradient;
    &::before {
        background: hsl(261, 73%, 48%);
    }
    .item-inner::before {
        background: url(./images/icon-lizard.svg) no-repeat center 40%, $innerCircle;
        background-size: 45%;
    }
}
.spock {
    background: $spockGradient;
    &::before {
        background: hsl(189, 59%, 43%);
    }
    .item-inner::before {
        background: url(./images/icon-spock.svg) no-repeat center 40%, $innerCircle;
        background-size: 45%;
    }
}
.btn {
    position: fixed;
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    border-radius: 0.5rem;
    padding: 0.6rem 2.3rem;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 1rem;
    cursor: pointer;
}
.btn-rules {
    left: 80%;
    bottom: 16%;
}
.btn-five,
.btn-three {
    left: 80%;
    bottom: 10%;
    animation: btnFadeIn 1s ease-in-out both;
    &.hidden {
        animation: btnFadeOut 0.5s linear;
        pointer-events: none;
        opacity: 0;
    }
}
.overlay {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    
    .overlay-inner {
        max-width: 55rem;
        height: 50vh;
        display: grid;
        grid-template-columns: auto 5rem auto;
        grid-template-rows: max-content;
        justify-content: center;
        margin: 12rem auto;
    }
    #circle-left {
        grid-column: 1;
    }
    #circle-right {
       grid-column: 3;
    }
    img {
        visibility: hidden;
        &.open {
            visibility: visible;
            animation: pulse 2s 3;
        }
    }
}
.rules-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    .rules-inner {
        background: $white;
        padding:2rem 3rem;
        border-radius: 0.4rem;
        position: relative;
        h3 {
            text-transform: uppercase;
            color: $darkText;
            margin-bottom: 3rem;
            font-size: 2rem;
            font-weight: 600;
        }
        p {
            font-weight: 600;
            font-size: 0.8rem;
            color: $headerOutline;
            text-transform: uppercase;
            margin-top: 2rem;
        }
        #close-modal {
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            border: none;
            cursor: pointer;
            &:active,
            &:focus {
                outline: none;
            }
            &:hover img{
                filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9);
            }
        }
    }
    &.open {
        display: flex;
        & .rules-inner {
            animation: modal 0.7s ease-out forwards;
        }
    }
}
@media (max-width:950px){
    :root {
        --sz-large:14rem;
        --sz-medium: 9rem;
        --sz-small: 8rem;
    }
    main {
        width: 40rem;
        margin: 4rem auto 0 auto;
    }
    .original {
        padding: 0 4rem;
    }
    .bonus {
        grid-template-columns: 8rem 4rem 8rem 4rem 8rem;
        row-gap: 0.5rem;
        padding: 0 3rem;
        background-size: 60%;
    }
    .final {
        &.step-2 {
            width: 45rem;
        }
        .pl-left,
        .pl-right {
            margin: 2.5rem 0 0rem 2.5rem;
        }
    }
    .overlay .overlay-inner {
        grid-template-columns: auto 1rem auto;
        margin: 8rem auto;
    }
}
@media (max-width:770px) {
    :root {
        --sz-large:12rem;
        --sz-medium: 9rem;
        --sz-small: 8rem;
    }
    header {
        padding: 0.6rem 0.8rem 0.6rem 1rem;
        margin: 2rem auto 0 auto;
        max-width: 85%;
        width: 85%;
        border-radius: 0.5rem;
    }
    .logo {
        height: 4rem;
    }
    .score-card {
        border-radius: 0.2rem;
        padding: 0.5rem 1.2rem;
        p {
            font-size: 0.7rem;
        }
        #score {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }
    .btn-rules,
    .btn-three,
    .btn-five  {
        left: 50%;
        transform: translateX(-50%);
    }

    .final {
        padding-top: 4rem;
        .pl-right,
        .pl-left {
            margin: 5.5rem 0 0rem 1.5rem;
        }
        &.step-2 {
            width: 100%;
        }
        .outcome {
            top: 90%;
        }
    }
    .overlay .overlay-inner {
        grid-template-columns: max-content 0 max-content;
        margin: 6rem auto;
        #circle-left {
            margin-right: -2rem;
        }
        #circle-right{
            margin-left: -2rem;
        }
    }
}
@media (max-width:650px) {
    :root {
        --sz-large:9rem;
        --sz-medium: 8rem;
        --sz-small: 7rem;
    }
    main {
        width: 90%;
        height: 40vh;
    }
    .container {
        height: 100%;
        width: 100%;
    }
    .original {
        background-size: 60%;
    }
    .bonus {
        background-size: contain;
        padding: 0 1rem;
        grid-template-columns: 7rem 4rem auto 4rem 7rem;
        .scissors {
            margin-top: -1rem;
        }
    }
    .final {
        padding: 0 3rem;
        .pl-left,
        .pl-right {
            margin: 0.5rem 0 0rem 0.5rem;
        }
        .outcome {
            span {
                font-size: 3rem;
            }
            button {
                border-radius: 0.25rem;
                padding: 0.7rem 3rem;
                font-size: 0.9rem;
                width: max-content;
            }
        }
    }
    .btn {
        border-radius: 0.25rem;
    }
    .btn-rules {
        bottom: 17%;
    }
    .overlay .overlay-inner {
        margin: 4rem auto;
        width: 90%;
        #circle-left {
            width: 400px;
            height: 400px;
            margin-right: -3rem;
        }
        #circle-right{
            width: 400px;
            height: 400px;
            margin-left: -3rem;
        }
    }
}
@media (max-width:550px) {
    :root {
        --sz-large:8rem;
        --sz-medium: 7rem;
        --sz-small: 5.5rem;
    }
    .rules-container {
        background: $white;
        text-align: center;
        .rules-inner {
            width: 100%;
            img {
                max-width: 100%;
            }
            #close-modal {
                top: 100%;
                right: 50%;
            }
        }
    }
    main {
        height: 30vh;
    }
    .original {
        background-size: contain;
        padding: 0 2rem;
        .paper {
            margin: -1rem auto 0 0; 
        }
        .scissors {
            margin: -1rem 0 0 auto;
        }
        .rock {
            margin-top: 3rem;
        }
    }
    .bonus {
        grid-template-columns: auto 0.8rem auto 0.8rem auto;
        row-gap: 0.5rem;
        .scissors {
            margin-top: 0rem;
        }
        .lizard {
            margin-top: 2rem;
        }
        .rock {
            margin-top: 2rem;
        }
    }
    .final {
        padding: 0;
    }
    .overlay .overlay-inner {
        width: 90%;

    }
}
@media (max-width:380px) {
    .original {
        padding: 0 1rem;
    }
    .bonus {
        padding: 0;
        grid-template-columns: auto 0.5rem 8rem 0.5rem auto;
    }
    .overlay .overlay-inner {
        width: 90%;
        margin: 7rem auto;
        #circle-left {
            width: 300px;
            height: 300px;
            margin-right: -3.5rem;
        }
        #circle-right{
            width: 300px;
            height: 300px;
            margin-left: -3.5rem;
        }
    }
}
@keyframes btnFadeOut {
    0%{
        bottom: 10%;
        opacity: 1;
    }
    
    100% {
        bottom: 0;
        opacity: 0;
    }
}
@keyframes btnFadeIn {
    0%{
        bottom: 0;
        opacity: 0;
    }
    80% {
        bottom: 11%;
        opacity: 1;
    }
    100% {
        bottom: 10%;
        opacity: 1;
    }
}
@keyframes scaleIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes containerFadeOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: -5rem;
        opacity: 0;
    }
}
@keyframes itemRotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes itemScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes itemFade {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes containerFadeIn {
    0% {
        left: -10rem;
        opacity: 0;
    }
    100% {
        left: 50%;
        opacity: 1; 
    }
}
@keyframes pulse {
    0% {
        opacity: 1;
        transform:scale(1);
    }
    50% {
        opacity: 0.8;
        transform:scale(1.2);
    }
    100% {
        opacity: 1;
        transform:scale(1);
    }
}
@keyframes modal {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    60% {
        opacity: 0.8;
        transform: scale(0.5);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }