@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at top, #1f3756, #141539);
}

.btn {
  position: fixed;
  background: transparent;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 2px;
  border: 1px solid #f2f2f2;
  border-radius: 0.4rem;
  padding: 0.6rem 2.2rem;
  cursor: pointer;
  z-index: 4;
  -webkit-transition: -webkit-transform 1s ease 1s;
  transition: -webkit-transform 1s ease 1s;
  transition: transform 1s ease 1s;
  transition: transform 1s ease 1s, -webkit-transform 1s ease 1s;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn.hidden {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

.x5, .x3 {
  right: 2rem;
  bottom: 8rem;
}

.rules-btn {
  bottom: 11.5rem;
  right: 2rem;
}

.rules-container {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.rules-container .rules-inner {
  background: #f2f2f2;
  padding: 2rem 3rem;
  border-radius: 0.4rem;
  position: relative;
}

.rules-container .rules-inner h3 {
  text-transform: uppercase;
  color: #3b4363;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.rules-container .rules-inner p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #606e85;
  text-transform: uppercase;
  margin-top: 2rem;
}

.rules-container .rules-inner #close-rules {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  border: none;
  cursor: pointer;
}

.rules-container .rules-inner #close-rules:active, .rules-container .rules-inner #close-rules:focus {
  outline: none;
}

.rules-container .rules-inner #close-rules:hover img {
  -webkit-filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9);
          filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.9);
}

.rules-container.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rules-container.open .rules-inner {
  -webkit-animation: modal 0.7s ease-out forwards;
          animation: modal 0.7s ease-out forwards;
}

header {
  background: transparent;
  margin: 3rem auto;
  padding: 1rem 1.5rem;
  width: 44rem;
  max-width: 80%;
  border: 3px solid #606e85;
  border-radius: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.score-card {
  cursor: pointer;
  background: #f2f2f2;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  text-align: center;
}

.score-card p {
  color: #2a46c0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.score-card #score {
  line-height: 4rem;
  font-size: 4rem;
  color: #3b4363;
}

.score-card.updated {
  -webkit-animation: itemScale 0.7s ease;
          animation: itemScale 0.7s ease;
}

.container {
  width: 44rem;
  max-width: 90%;
  height: 50vh;
  margin: 3rem auto;
}

.original {
  background: url(./images/bg-triangle.svg) no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4rem;
  -webkit-transition: -webkit-transform 1s ease 1.8s;
  transition: -webkit-transform 1s ease 1.8s;
  transition: transform 1s ease 1.8s;
  transition: transform 1s ease 1.8s, -webkit-transform 1s ease 1.8s;
}

.original.hidden {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.bonus {
  -webkit-transform: translate(150%, -110%);
          transform: translate(150%, -110%);
  background: url(./images/bg-pentagon.svg) no-repeat center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 3;
      grid-template-rows: 3;
  row-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 0 6rem;
  opacity: 0;
  -webkit-transition: opacity 5.5s ease, -webkit-transform 1s ease 0.5s;
  transition: opacity 5.5s ease, -webkit-transform 1s ease 0.5s;
  transition: transform 1s ease 0.5s, opacity 5.5s ease;
  transition: transform 1s ease 0.5s, opacity 5.5s ease, -webkit-transform 1s ease 0.5s;
}

.bonus.open {
  -webkit-transform: translate(0, -110%);
          transform: translate(0, -110%);
  opacity: 1;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 1s ease 1.5s;
  transition: opacity 1.5s ease, -webkit-transform 1s ease 1.5s;
  transition: transform 1s ease 1.5s, opacity 1.5s ease;
  transition: transform 1s ease 1.5s, opacity 1.5s ease, -webkit-transform 1s ease 1.5s;
}

.bonus .item {
  width: 9rem;
  height: 9rem;
  margin: 0;
}

.bonus .scissors {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.bonus .spock {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: -2rem 0 1rem 0;
}

.bonus .paper {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: -2rem 0 1rem 0;
}

.bonus .lizard {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: 0 -5rem 0 3rem;
}

.bonus .rock {
  margin-left: -7rem;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.stage-1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stage-1.step-1 {
  -webkit-transition: width 0.5s ease , -webkit-transform 1.5s ease 0.5s;
  transition: width 0.5s ease , -webkit-transform 1.5s ease 0.5s;
  transition: width 0.5s ease , transform 1.5s ease 0.5s;
  transition: width 0.5s ease , transform 1.5s ease 0.5s , -webkit-transform 1.5s ease 0.5s;
}

.stage-1.step-1 .placeholder {
  -webkit-animation: itemScale 1s 5;
          animation: itemScale 1s 5;
}

.stage-1.open {
  -webkit-transition: width 0.5s ease , -webkit-transform 1.5s ease 2.5s;
  transition: width 0.5s ease , -webkit-transform 1.5s ease 2.5s;
  transition: width 0.5s ease , transform 1.5s ease 2.5s;
  transition: width 0.5s ease , transform 1.5s ease 2.5s , -webkit-transform 1.5s ease 2.5s;
  -webkit-transform: translateY(-205%);
          transform: translateY(-205%);
  opacity: 1;
}

.stage-1.final {
  width: 60rem;
}

.stage-1 .placeholder {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: #141539;
  z-index: -1;
}

.stage-1 .placeholder::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 350%;
  height: 350%;
  border-radius: 50%;
  background: radial-gradient(#2B3956 0%, #2B3956 39%, #263554 40%, #263554 59%, #223351 60%, #223351 100%);
  -webkit-animation: pulse 1s 5;
          animation: pulse 1s 5;
  visibility: hidden;
}

.stage-1 .placeholder.open::before {
  visibility: visible;
  -webkit-animation: pulse 2s 10;
          animation: pulse 2s 10;
}

.stage-1 .placeholder.fade {
  -webkit-animation: itemsFade 1s;
          animation: itemsFade 1s;
}

.stage-1 .pl-left {
  left: 5rem;
}

.stage-1 .pl-right {
  right: 5rem;
}

.item-init {
  width: 12.4rem;
  height: 12.4rem;
  margin: 1rem 2.5rem;
  cursor: pointer;
  -webkit-animation: itemRotate 5s infinite;
          animation: itemRotate 5s infinite;
}

.item-init:hover {
  -webkit-animation: itemRotate paused, itemScale 2s infinite;
          animation: itemRotate paused, itemScale 2s infinite;
}

.item-init.clicked {
  -webkit-animation: itemsFade 0.5s ease forwards;
          animation: itemsFade 0.5s ease forwards;
}

.item-choice {
  width: 18rem;
  height: 18rem;
  margin: 1rem 2rem;
  position: relative;
  text-align: center;
  -webkit-animation: itemsFadeIn 0.7s ease both;
          animation: itemsFadeIn 0.7s ease both;
}

.item-choice::after {
  color: #fff;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 4px;
  width: 100%;
  height: 1.4rem;
  position: absolute;
  top: -5.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-choice:nth-of-type(4)::after {
  content: 'You picked';
}

.item-choice:nth-of-type(5)::after {
  content: 'The house picked';
}

.item {
  border-radius: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 5;
}

.item::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(-1px);
          transform: translateX(-50%) translateZ(-1px);
  bottom: -0.4rem;
  z-index: 0;
}

.item .item-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 78%;
  height: 78%;
  border-radius: 50%;
  background: #babfd4;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 3;
}

.item .item-inner::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(-1px);
          transform: translateX(-50%) translateZ(-1px);
  background: radial-gradient(#f2f2f2, #dadcdb);
  z-index: -1;
}

.paper {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.paper::before {
  background: #0a24a9;
}

.paper .item-inner::before {
  background: url(./images/icon-paper.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.scissors {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.scissors::before {
  background: #8c5e08;
}

.scissors .item-inner::before {
  background: url(./images/icon-scissors.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.rock {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rock::before {
  background: #8c182d;
}

.rock .item-inner::before {
  background: url(./images/icon-rock.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.lizard {
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(#834fe3, #8c5de5);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.lizard::before {
  background: #6021d4;
}

.lizard .item-inner::before {
  background: url(./images/icon-lizard.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.spock {
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(#40b9ce, #52bed1);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.spock::before {
  background: #2d9bae;
}

.spock .item-inner::before {
  background: url(./images/icon-spock.svg) no-repeat center 40%, radial-gradient(#f2f2f2, #dadcdb);
  background-size: 45%;
}

.outcome {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.outcome span {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
}

.outcome button {
  margin-top: 1rem;
  padding: 0.7rem 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background: #f2f2f2;
  color: #3b4363;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.outcome button:hover {
  color: #dd405d;
  -webkit-animation: itemScale 1s;
          animation: itemScale 1s;
}

.outcome.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 980px) {
  header {
    padding: 0.5rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
  }
  header .logo {
    height: 4rem;
    width: 4rem;
  }
  header .logo img {
    margin: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .score-card {
    padding: 0.5rem 1.5rem;
  }
  .score-card p {
    font-size: 0.6rem;
  }
  .score-card #score {
    font-size: 3rem;
    line-height: 3rem;
  }
  .rules-btn {
    left: 50%;
    bottom: 10rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .x3,
  .x5 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: 50%;
    bottom: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .container {
    margin: 4rem auto;
    height: 40vh;
  }
  .original {
    padding: 0 0.8rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (min-content)[3];
        grid-template-columns: repeat(3, -webkit-min-content);
        grid-template-columns: repeat(3, min-content);
  }
  .original .paper {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .original .scissors {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .original .rock {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0;
  }
  .item-init,
  .item-choice {
    width: 8rem;
    height: 8rem;
    margin: 0;
  }
  .bonus {
    position: relative;
    display: block;
    background-size: contain;
    padding: 0;
    height: 35vh;
  }
  .bonus .item {
    width: 7rem;
    height: 7rem;
    position: absolute;
    margin: 0;
  }
  .bonus .scissors {
    left: 42%;
    top: -22%;
  }
  .bonus .spock {
    top: 15%;
    left: 15%;
  }
  .bonus .paper {
    top: 15%;
    right: 15%;
  }
  .bonus .lizard {
    bottom: -15%;
    left: 22%;
  }
  .bonus .rock {
    bottom: -15%;
    right: 22%;
  }
  .stage-1 {
    max-width: 60%;
  }
  .stage-1.final {
    width: 60%;
  }
  .stage-1.open {
    -webkit-transform: translateY(-230%);
            transform: translateY(-230%);
  }
  .stage-1 .placeholder {
    width: 8rem;
    height: 8rem;
  }
  .stage-1 .pl-left {
    left: 0rem;
    margin-bottom: 3rem;
  }
  .stage-1 .pl-right {
    right: 0rem;
    margin-bottom: 3rem;
  }
  .stage-1 .item-choice {
    margin-bottom: 3rem;
  }
  .stage-1 .item-choice::after {
    top: 120%;
    font-size: 0.9rem;
    letter-spacing: 2px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .outcome {
    top: 110%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .outcome span {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .outcome button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (max-width: 520px) {
  .rules-container {
    background: #f2f2f2;
    text-align: center;
  }
  .rules-container .rules-inner {
    width: 100%;
  }
  .rules-container .rules-inner img {
    max-width: 100%;
  }
  .rules-container .rules-inner #close-rules {
    top: 100%;
    right: 50%;
  }
  .rules-btn {
    bottom: 4rem;
  }
  .x3,
  .x5 {
    bottom: 1rem;
    min-width: 50%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container {
    max-width: 90%;
    width: 85%;
  }
  .original {
    row-gap: 2rem;
  }
  .item-init,
  .item-choice {
    width: 7rem;
    height: 7rem;
    margin: 0;
  }
  .stage-1 {
    max-width: 85%;
  }
  .stage-1.final {
    width: 85%;
  }
  .stage-1 .placeholder {
    width: 6rem;
    height: 6rem;
    margin-bottom: 4rem;
  }
  .bonus {
    padding: 0 1rem;
    height: 30vh;
  }
  .bonus.open {
    -webkit-transform: translate(0, -145%);
            transform: translate(0, -145%);
  }
  .bonus .item {
    width: 6rem;
    height: 6rem;
  }
  .bonus .spock {
    top: 20%;
    left: 0;
  }
  .bonus .paper {
    top: 20%;
    right: 0;
  }
  .bonus .lizard {
    left: 15%;
  }
  .bonus .rock {
    right: 15%;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 98%;
  }
  .bonus {
    height: 28vh;
  }
  .bonus .scissors {
    left: 35%;
    top: -22%;
  }
  .bonus .spock {
    top: 15%;
    left: 0;
  }
  .bonus .paper {
    top: 15%;
    right: 0;
  }
  .bonus .lizard {
    bottom: -15%;
    left: 10%;
  }
  .bonus .rock {
    bottom: -15%;
    right: 10%;
  }
}

@-webkit-keyframes itemRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes itemRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes itemScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes itemsFade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes itemsFade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes itemsFadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemsFadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  60% {
    opacity: 0.8;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  60% {
    opacity: 0.8;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
